@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background-image: radial-gradient(#1d0068, #248ca6);
    font-family: Roboto;
}

a {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
svg {
    margin: auto;
}

#grid {
    text-align: center;
}
#side-bar {
    text-align: center;
}
#description {
    color: white;
    font-size: 14px;
    text-align: justify;
    padding: 20px 10px;
}

button {
    background-color: #00b554;
    font-weight: 200;
    font-size: 14px;
    color: whitesmoke;
    padding: 5px 20px;
    margin: 10px 20px;
    border: none;
    border-radius: 5em;
    cursor: pointer;
}
button:hover {
    color: white;
    background-color: #00a04a;
}
rect {
    stroke: rgb(39, 39, 39);
    stroke-width: 0px;
    margin: 0;
}
rect:hover {
    fill: orange;
}
.container {
    display: flex;
    margin: 0 auto;
}
.fixed {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 30%;
}
.flex-item {
    flex-grow: 1;
}

.dead {
    fill: rgba(0, 0, 0, 0.3);
}

.alive {
    fill: whitesmoke;
}


