@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background-image: radial-gradient(#1d0068, #248ca6);
    font-family: Roboto;
}

a {
    color: white;
    text-align: center;
}

h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 24px;
    margin: 5px;
}
svg {
    margin: auto;
}

#grid {
    text-align: center;
    margin: 25px auto;   
}
#side-bar {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}
#description {
    color: white;
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
    padding: 20px 10px;
}

button {
    background-color: #00b554;
    font-weight: 200;
    font-size: 14px;
    color: whitesmoke;
    padding: 5px 20px;
    margin: 10px 20px;
    border: none;
    border-radius: 5em;
    cursor: pointer;
}
button:hover {
    transition: opacity 0.5s;
    color: white;
    opacity: 0.4
}
rect {
    stroke: rgb(39, 39, 39);
    stroke-width: 0px;
    margin: 0;
}
rect:hover {
    fill: orange;
}
.container {
    display: flex;
    padding: 0 auto;
    align-items: center
}
.fixed {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 30%;
}

rect {
    cursor: pointer;
}

.dead {
    fill: rgba(0, 0, 0, 0.3);
}

.alive {
    fill: whitesmoke;
}


