.safezone {
    stroke:teal;
    stroke-width: 1px;
    fill: none;
    z-index: 999;
}

.zone {
    fill: none;
    opacity: 0.5;
    stroke-dasharray: 5px 5px;
    stroke-width: 1px;
    z-index: 0;
}


.meeting-point {
    
    fill: green;
    opacity: 0.5;
    cursor: pointer;
    z-index: 999;
}

.meeting-point:hover {
    transition: fill 0.5s ease
                opacity 0.5s ease;
    fill: orange;
    opacity: 1;
}

.street {
    stroke: yellow;
    stroke-width: 1px;
    fill: none;
    z-index: 999;
}
.household {
    z-index: 999;
}

.moving {
    fill: red;
    opacity: 0.3;
}
.static {
    fill: rgb(209, 188, 0);
    opacity: 0.1;
}

.pie-background {
    fill: rgba(150,150, 150, 0.6);
}
.pie-foreground {
    fill: rgba(56, 255, 70);
    opacity:0.7;
}

#perc-text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    letter-spacing: 3;
    opacity: 0.7;
}