.safezone {
    stroke:teal;
    stroke-width: 1px;
    fill: none;
}

.meeting-point {
    
    fill: green;
    opacity: 0.5;
    cursor: pointer;
}

.meeting-point:hover {
    transition: fill 0.5s ease
                opacity 0.5s ease;
    fill: orange;
    opacity: 1;
}

.street {
    stroke: yellow;
    stroke-width: 1px;
    display: none;
    opacity: 0.3;
    fill: none;
}

.moving {
    fill: red;
    opacity: 0.3;
}
.static {
    fill: yellow;
    opacity: 0.01;
}